<!-- ======= Header/Navbar ======= -->
<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
    
        <!-- <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button> -->

        <a class="navbar-brand text-brand" href="index.php?page=home">mira<span class="color-b">casa</span></a>

        <!-- <div class="navbar-collapse collapse" id="navbarDefault">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="index.php?page=home">Inicio</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="index.php?page=controller_shop&op=list">Inmuebles</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="index.php?page=services">Servicios</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="index.php?page=aboutus">Conócenos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="index.php?page=contactus">Contacto</a>
                </li>
               
            </ul>
        </div> -->

        <div class='filterSearch_container'>
            <div class='filterSearchOp_container'>
                <select id='filter_search_op_select' name='filter_searchOp' class='filter_searchOp'>
                    <option hidden selected>Transacción</option>
                </select>
            </div>

            <div class='filterSearchTouristcat_container'>
                <select id='filter_search_touristcat_select' name='filter_searchTouristcat' class='filter_searchTouristcat'>
                    <!-- <option hidden selected>Zona turística</option> -->
                </select>
            </div>

            <div class='filterSearchCity_container'>
                <input type="text" id='filter_search_city_auto' name='filter_searchCity_auto' class='filter_searchCity_auto' placeholder="Ciudad" value="">
                <div id="search_auto"></div>
            </div>

            <div class='filterSearchButton_container'>
                <img src="view/img/icons/search1.png" id="search_button">
            </div>
        </div>

        <div class="navbarLogin_container">
            <span class="navbarLogin_text">Mi cuenta</span>
            <img src="view/img/icons/user1.png" class="navbarLogin_icon">
            
            <div id="navbarLogin_modal">
                <a class="navbarLogin_items login" href="index.php?page=controller_login&op=view"><span class="navbarLogin_items">Regístrate / Inicia sesión</span></a>
                <span class="navbarLogin_items logout">Cierra sesión</span>
            </div>
        </div>
        

    </div>
</nav>