<main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Details</h1>
                        <span class="color-text-a">Tu Selección</span>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="index.php?page=home">Inicio</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Inmuebles
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Intro Single-->

    <!-- ======= Details Demo ======= -->
    <section class="section-listRealestates container">
        <div class="row">
            <div class="container_detailsRealestate">



                <div class="containerDetails_img">
                    <img src="view/img/real_estates/real_estate_5_1.jpg" alt="Apartamento en Gandia" class="details-img">
                </div>



                <div class="containerDetails_info">
                    <div class="detailsInfo_trading">
                        <span class="detailsInfo_price">
                            250.000 €&nbsp;&nbsp;|&nbsp;&nbsp;Compra
                        </span>
                    </div>

                    <div class="detailsInfo_specs">
                        <div class="detailsInfoSpecs_contents">
                            <img src="view/img/specs/area.png" class="detailsInfoSpecs-img">
                            <span class="detailsInfoSpecs-txt">125 m<sup>2</sup></span>
                        </div>

                        <div class="detailsInfoSpecs_contents">
                            <img src="view/img/specs/rooms.png" class="detailsInfoSpecs-img">
                            <span class="detailsInfoSpecs-txt">3 habitaciones</span>
                        </div>

                        <div class="detailsInfoSpecs_contents">
                            <img src="view/img/specs/bathrooms.png" class="detailsInfoSpecs-img">
                            <span class="detailsInfoSpecs-txt">2 baños</span>
                        </div>
                    </div>

                    <div class="detailsInfo_title">
                        <p class="detailsInfoTitle_property">Apartamento en Gandia</p>
                        <p class="detailsInfoTitle_province">Valencia</p>
                    </div>

                    <p class="detailsInfo_desc">Apartamento ubicado en primera linea de playa</p>
                </div>



                <div class="detailsInfo_extras">
                    <p class="detailsInfoExtras_title">Características</p>

                    <div class="detailsInfoExtras_container">
                        <div class="detailsInfoExtras_contents">
                            <img src="view/img/extras/amueblado.png" class="detailsInfoExtras-img">
                            <span class="detailsInfoExtras-txt">Amueblado</span>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section> 

    <!-- ======= Details Demo ======= 
    <section class="section-listRealestates container">
        <div class="row">
            <div class="container_detailsRealestate">
                <div class="containerDetails_img">
                    <img src="view/img/real_estates/real_estate_5_1.jpg" alt="Apartamento en Gandia" class="details-img">
                </div>

                <div class="containerDetails_info">
                    <div class="detailsInfo_trading">
                        <span class="detailsInfo_price">
                            250.000 €&nbsp;&nbsp;|&nbsp;&nbsp;Compra
                        </span>
                    </div>

                    <div class="detailsInfo_specs">
                        <div class="detailsInfoSpecs_contents">
                            <img src="view/img/specs/area.png" class="detailsInfoSpecs-img">
                            <span class="detailsInfoSpecs-txt">125 m<sup>2</sup></span>
                        </div>

                        <div class="detailsInfoSpecs_contents">
                            <img src="view/img/specs/rooms.png" class="detailsInfoSpecs-img">
                            <span class="detailsInfoSpecs-txt">3 habitaciones</span>
                        </div>

                        <div class="detailsInfoSpecs_contents">
                            <img src="view/img/specs/bathrooms.png" class="detailsInfoSpecs-img">
                            <span class="detailsInfoSpecs-txt">2 baños</span>
                        </div>
                    </div>

                    <div class="detailsInfo_title">
                        <p class="detailsInfoTitle_property">Apartamento en Gandia</p>
                        <p class="detailsInfoTitle_province">Valencia</p>
                    </div>

                    <p class="detailsInfo_desc">Apartamento ubicado en primera linea de playa</p>
                </div>

                <div class="detailsInfo_extras">
                    <p class="detailsInfoExtras_title">Características</p>

                    <div class="detailsInfoExtras_container">
                        <div class="detailsInfoExtras_contents">
                            <img src="view/img/extras/amueblado.png" class="detailsInfoExtras-img">
                            <span class="detailsInfoExtras-txt">Amueblado</span>
                        </div>

                        <div class="detailsInfoExtras_contents">
                            <img src="view/img/extras/electrodomésticos.png" class="detailsInfoExtras-img">
                            <span class="detailsInfoExtras-txt">Electrodomésticos</span>
                        </div>

                        <div class="detailsInfoExtras_contents">
                            <img src="view/img/extras/aire acondicionado.png" class="detailsInfoExtras-img">
                            <span class="detailsInfoExtras-txt">Aire acondicionado</span>
                        </div>

                        <div class="detailsInfoExtras_contents">
                            <img src="view/img/extras/calefacción.png" class="detailsInfoExtras-img">
                            <span class="detailsInfoExtras-txt">Calefacción</span>
                        </div>

                        <div class="detailsInfoExtras_contents">
                            <img src="view/img/extras/amueblado.png" class="detailsInfoExtras-img">
                            <span class="detailsInfoExtras-txt">Amueblado</span>
                        </div>

                        <div class="detailsInfoExtras_contents">
                            <img src="view/img/extras/electrodomésticos.png" class="detailsInfoExtras-img">
                            <span class="detailsInfoExtras-txt">Electrodomésticos</span>
                        </div>

                        <div class="detailsInfoExtras_contents">
                            <img src="view/img/extras/aire acondicionado.png" class="detailsInfoExtras-img">
                            <span class="detailsInfoExtras-txt">Aire acondicionado</span>
                        </div>

                        <div class="detailsInfoExtras_contents">
                            <img src="view/img/extras/calefacción.png" class="detailsInfoExtras-img">
                            <span class="detailsInfoExtras-txt">Calefacción</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

</main>

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="view/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="view/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="view/js/main.js"></script>