<main id="main">

    <!-- ======= Details RealEstate ======= -->
    <section class="section-detailsCarousel section-t7">
        <div id="details-carousel" class="swiper">
            <div class="container_detailsCarousel swiper-wrapper">
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
            </div>

            <!-- Añade la navegación con botones -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- Añade la paginación -->
            <div class="details-carousel-pagination carousel-pagination"></div>
        </div>
    </section>

    <section class="section-detailsRealestate container">
        <div class="row">
            <div class="container_detailsRealestate">
            </div>
        </div>
    </section>

    <!-- ======= Intro Single ======= -->
    <section class="section-intro">
    </section>

    <!-- ======= List RealEstates ======= -->
    <section class="section-listRealestates container">
        <div class="row container_listRealestates">
        </div>
    </section>

    <!-- ======= List Demo ======= 
    <section class="section-listRealestates container">
        <div class="row container_listRealestates">
            <div class="containerList">
                <div class="containerList_img">
                    <img src="view/img/real_estates/real_estate_5_1.jpg" alt="Apartamento en Gandia" class="list-img">
                </div>

                <div class="containerList_info">
                    <div class="listInfo_header">
                        <span class="listInfo_title">
                            Apartamento en Gandia
                        </span>

                        <span class="listInfo_province">
                            Valencia
                        </span>
                    </div>

                    <div class="listInfo_trading">
                        <span class="listInfo_price">
                            250.000 €&nbsp;&nbsp;|&nbsp;&nbsp;Compra
                        </span>
                    </div>

                    <p class="listInfo_specs">
                        125 m<sup>2</sup>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;3 habitaciones&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;2 baños
                    </p>

                    <p class="listInfo_desc">
                        Apartamento ubicado en primera linea de playa
                    </p>
                </div>
            </div>
        </div>
    </section> -->

</main>

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="view/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="view/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="view/js/main.js"></script>